<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>app-store-connect</string>
        <key>destination</key>
        <string>upload</string>
        <key>signingStyle</key>
        <string>manual</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>com.levitatingpineapple.feedradar</key>
            <string>FeedRadarDistribution</string>
        </dict>
    </dict>
</plist>
